<!-- choose -->
<div class="choose">
	<!-- container -->
	<div class="container">
		<h3>{{ page.title }}</h3>
		<div class="choose-w3layoutsinfo">
			{% for m in page.collection('members') %}
				{{ m.content|raw }}
			{% endfor %}
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //container -->
</div>
<!-- //choose -->
