{% if not theme_config %} {# base tempate context seems to get lost in this modular #}
	{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
{% endif %}
<div class="col-md-3 team-grid">
	{% set mug = page.media|first %}
	<img src="{{ mug.url }}" alt="{{ page.title }}">
	<h6>{{ page.title }}</h6>
	{% include 'partials/social.html.twig' with {'social': header.social, 'add_classes': 'team-w3icons'} %}
	{{ page.content|raw }}
</div>
