<div class="col-md-4 choose-grid">
    <h5>{{ page.title }}</h5>
    {{ page.content|raw }}
    <div class="choose-button">
        <a href="{{ page.header.cta.target }}">{{ page.header.cta.text|default('More') }}</a>
    </div>
</div>
