<div class="header-bottom">
	<div class="w3ls-logo">
		{% set title_split = site.title|split(' ') %}
		<h1><a href="{{ home_url }}">{{ title_split|first }} <span>{{ title_split[1:]|join }}</span></a></h1>
	</div>
	{% include 'partials/header-top-right.html.twig' %}
	<div class="clearfix"> </div>
</div>
