<div class="header-bottom">
	<div class="w3ls-logo">
		{% set title_split = site.title|split(' ') %}
		<h1><a href="{{ home_url }}">{{ title_split|first }} <span>{{ title_split[1:]|join }}</span></a></h1>
	</div>
	{# TODO: check for an approriate plugin? #}
	<div class="header-top-right">
		<form action="#" method="post">
			<input type="text" name="Search" placeholder="Search" required=""> 
			<input type="submit" value="">
			<div class="clearfix"> </div>
		</form>
	</div>
	<div class="clearfix"> </div>
</div>
