<ul>
	<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
	<li><a class="twt" href="#"><i class="fa fa-twitter" aria-hidden="true"></i> </a></li>
	<li><a class="drbl" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i> </a></li>
	<li><a class="be" href="#"><i class="fa fa-dribbble" aria-hidden="true"></i> </a></li>
</ul>  
