{% set social = social|default(site.globals.social) %} {# parameter #}
{% set add_classes = add_classes|default('') %} {# parameter #}
<div class="{{ [add_classes, 'w3-agileitsicons']|join(' ') }}">
	<ul>
		{% for network, account in social %}
			{% set social_network = theme_config.social_networks[network] %}
			<li><a href="{{ social_network.prepend }}{{ account }}"{{ social_network.class ? " class=\"#{ social_network.class }\"" }}><i class="fa fa-{{ network }}" aria-hidden="true"></i></a></li>
		{% endfor %}
	</ul>
</div>